@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');


:root{
    /* background color */
    --bg-white:#ffff;

    /* other colors */
    --primary-color: #164581;
    --secondary-color:#fcba03;
    --text-white: #fff;
    --dark-color:#0000;
}

body,
html{
    font-family:"poppins",serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-white);
    overflow-x: hidden;
    font-family: "Poppins", serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.mine-bc {
    color: #164581;
}

.row .fixed-width {
    max-width: 1200px;
    margin: 0 auto;
}

.title{
    font-size: 3rem;
}

/* news area */
.latest-news {
    background-color: #164581;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}
.latest-text{
    list-style: none;
}
.latest-news a{
    margin: 0;
    font-size: 1.5rem;
    color: red;
    text-decoration: none;
}

/* Nav-Start */
.web-navbar {
    background-color: var(--bg-white);
    color: var(--primary-color);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    align-items: center;
    z-index: 1000;
}

.web-logo-img {
    width: 7%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.web-logo>a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.5rem;
}

.web-nav-links {
    list-style: none;
    display: flex;
    gap: 3em;
    margin-top: 16px;
    margin-right: 4em;
}

.web-nav-links a {
    color: #164581;
    text-decoration: none;
    font-size: 2rem;
}

.web-nav-links a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
}

.web-hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    background: none;
    border: none;
}

.web-hamburger .web-line {
    width: 25px;
    height: 3px;
    background-color:var(--primary-color);
    border-radius: 2px;
}

.web-menu {
    display: block;
}

.web-menu-open {
    margin-top: 150px;
}

.web-navbar ul>* {
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {
    .web-hamburger {
        display: flex;
    }

    .web-nav-links {
        border: 1px solid;
        display: none;
        flex-direction: column;
        background-color: var(--bg-white);
        position: absolute;
        gap: 0.5em;
        top: 58px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .web-nav-links.web-active {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .web-nav-links li {
        padding: 0.5em 0;
    }

    .web-logo-img {
        height: 24px;
        width: 30px;
        margin-left: 0em;
        margin-right: 0.5em;

    }
}

/* Nav-End */

/* Carousel-Start */
#carouselExampleAutoplaying {
    max-height: 80vh;
}

.carousel-item {
    background-color:black;
}

.carousel-item img {
    max-height: 80vh;
    width: 100%;
    height: auto;
    opacity: 45%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    color: rgb(240, 240, 242);
    padding: 10px 20px;
}

.carousel-caption {
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: xx-large;
}

.carousel-caption p::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 5px auto;
    background: #fcba03;
}
.sl-logo{
    opacity: 100%;
    height: 15px;
    width: 15px;
}
@media (max-width: 768px) {

    .carousel-caption {
        font-size: medium;
    }

}

/* About-Start */
.about-bg {
    background-image: url(Assets/about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


.about-bg h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 5px auto;
    background: var(--secondary-color);
}

.journey-text {
    font-size: x-large;
 line-height: 1.5;
 margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .journey-text {
        font-size: medium;
    }
}

/* About-End */

/* Services-Start */
.features-items,
.features-items .items-box {
    overflow: hidden;
}

.features-area .equal-height::after {
    background: #e7e7e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
}

.features-area .equal-height::before {
    background: #e7e7e7 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
}

.features-area .features-items .col-md-5,
.features-area .features-items .col-md-7 {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.features-area .features-items.reversed .col-md-5,
.features-area .features-items.reversed .col-md-7 {
    display: block;
    float: left;
}

.features-area .features-items.reversed .info-box {
    float: right;
}

.features-area .features-items .item {
    padding: 30px 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.features-area .features-items .item:hover {
    background-color: #164581;
}

.features-area .features-items .item:hover .info h4,
.features-area .features-items .item:hover .info p,
.features-area .features-items .item:hover .info a.profile-btn {
    color: white !important;
}

.features-area.item-full .features-items .item {
    padding: 30px;
}

.features-area .features-items .item h4 {
    position: relative;
    font-size: 2.5rem !important;
}

.features-area .features-items .item a {
    text-decoration: none;
}

.features-area .item .info p {
    font-size: 1.5rem !important;
    /* margin-bottom: 10px !important; */
}

.features-area.bottom-small {
    padding-bottom: 25px;
}

.features-area.default-padding.bottom-none {
    padding-bottom: 30px;
}

.features-area .item .icon {
    margin-bottom: 20px;
}

.features-area h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 5px auto;
    background: var(--secondary-color);
}

/* Services-End */

/* profile */

.w-155 {
    width: 155px;
    height: 155px;
    border-radius: 50%;
}

.my-2{
    font-size: 2.5rem;
}

.py-5{
    padding-bottom: 0 !important;
}

.my-2::after {
    content: "";
    display: block;
    width: 5%;
    height: 0.3rem;
    margin: 1rem 0;
    top: 0.5rem;
    background: var(--secondary-color);
}

.col-md-9 p,
ul {
    font-size: 1.8rem;
    font-weight: 250;
    line-height: 2rem;
}

/* Footer-Start*/

@media (min-width: 576px) {
    .col-sm-4 {
        flex: 0 0 auto;
        width: 30% !important;
        margin-right: -8rem;
        margin-left: 5rem !important;
        }
}

.col-sm-4 h4{
    font-size: 2.3rem;
    margin: 2rem;
    margin-left: auto;
}

.footer-list a {
    overflow-wrap: break-word;
}

.col-sm-4{
    margin-left: 2rem;
}

.border-top-cust {
    border-top: 7px solid var(--secondary-color);
    position: relative;
    top: 5px;
}

.footer-bg {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.footer-bg h4::after {
    content: "";
    display: block;
    width: 15%;
    height: 2px;
    margin: 1rem 0;
    background: var(--secondary-color);
}

.footer-list li {
    font-family: "poppins";
    font-size: 1.5rem;
    padding-bottom: 7px;
    position: relative;
    padding-left: 25px;
}

.footer-list li:before {
    content: "\f105";
    position: absolute;
    left: 0;
    top: 0;
    font-family: "FontAwesome";
    color: var(--secondary-color);
    font-weight: 700;
}

.footer-list li a {
    color: var(--bg-white);
    text-decoration: none;
}

.footer-list li a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.bottom-footer {
    background-color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 300;
}

.bottom-footer a:hover {
    text-decoration: underline;
    color: #ffffff;
}

span.required {
    color: #c01e0f;
}

.modal-title {
    color: var(--primary-color);
    font-size: 2rem;
}

.col-8 p {
    font-size: 1.2rem;
}

.footer-list a {
    word-break: break-all;
}

/* footer-end */