body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    overflow-x: hidden;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.mine-bc {
    color: #164581;
}

.row .fixed-width {
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav-Start */
.web-navbar {
    background-color: #ffffff;
    color: #164581;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    align-items: center;
    z-index: 1000;
}

.web-logo-img {
    width: 7%;
    margin-left: 0.5em;
    margin-right: 0.5em;

}

.web-logo>a {
    text-decoration: none;
    color: #164581;
    font-weight: bold;
    font-size: 25px;
}

.web-nav-links {
    list-style: none;
    display: flex;
    gap: 3em;
    margin-top: 16px;
    margin-right: 4em;
}

.web-nav-links a {
    color: #164581;
    text-decoration: none;
    font-size: 20px;
}

.web-nav-links a:hover {
    text-decoration: underline;
    text-decoration-color: #fcba03;
}

.web-hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    background: none;
    border: none;
}

.web-hamburger .web-line {
    width: 25px;
    height: 3px;
    background-color: #164581;
    border-radius: 2px;
}

.web-menu {
    display: block;
}

.web-menu-open {
    margin-top: 150px;
}

.web-navbar ul>* {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .web-hamburger {
        display: flex;
    }

    .web-nav-links {
        border: 1px solid;
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        gap: 0.5em;
        top: 58px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .web-nav-links.web-active {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .web-nav-links li {
        padding: 0.5em 0;
    }

    .web-logo-img {
        height: 24px;
        width: 30px;
        margin-left: 0em;
        margin-right: 0.5em;

    }
}

/* Nav-End */

/* Carousel-Start */
#carouselExampleAutoplaying {
    max-height: 80vh;
}

.carousel-item {
    background-color: black;
}

.carousel-item img {
    max-height: 80vh;
    width: 100%;
    height: auto;
    opacity: 45%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    color: rgb(240, 240, 242);
    padding: 10px 20px;
}

.carousel-caption {
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: xx-large;
}

.carousel-caption p::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 5px auto;
    background: #fcba03;
}

@media (max-width: 768px) {

    .carousel-caption {
        font-size: medium;
    }

}

/* About-Start */
.about-bg {
    background-image: url(Assets/about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


.about-bg h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 5px auto;
    background: #fcba03;
}

.journey-text {
    font-size: x-large;
}

@media (max-width: 768px) {
    .journey-text {
        font-size: medium;
    }
}

/* About-End */

/* Services-Start */
.features-items,
.features-items .items-box {
    overflow: hidden;
}

.features-area .equal-height::after {
    background: #e7e7e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
}

.features-area .equal-height::before {
    background: #e7e7e7 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
}

.features-area .features-items .col-md-5,
.features-area .features-items .col-md-7 {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.features-area .features-items.reversed .col-md-5,
.features-area .features-items.reversed .col-md-7 {
    display: block;
    float: left;
}

.features-area .features-items.reversed .info-box {
    float: right;
}

.features-area .features-items .item {
    padding: 30px 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.features-area .features-items .item:hover {
    background-color: #164581;
}

.features-area .features-items .item:hover .info h4,
.features-area .features-items .item:hover .info p,
.features-area .features-items .item:hover .info a.profile-btn {
    color: white !important;
}

.features-area.item-full .features-items .item {
    padding: 30px;
}

.features-area .features-items .item h4 {
    position: relative;
    font-size: 1.5rem !important;
}

.features-area .features-items .item a {
    text-decoration: none;
}

.features-area .item .info p {
    font-size: 0.9rem !important;
    margin-bottom: 10px !important;
}

.features-area.bottom-small {
    padding-bottom: 25px;
}

.features-area.default-padding.bottom-none {
    padding-bottom: 30px;
}

.features-area .item .icon {
    margin-bottom: 20px;
}

.features-area h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 5px auto;
    background: #fcba03;
}

/* Services-End */

/* profile */

.w-155 {
    width: 155px;
    height: 155px;
    border-radius: 50%;
}

/* Footer-Start*/
/* .web-footer {
    background-color: rgb(15, 41, 74);
    color: rgb(250, 249, 249);
    display: flex;
    width: 100%; 
    justify-content: flex-end; 
} */

@media (min-width: 576px) {
    .col-sm-4 {
        flex: 0 0 auto;
        width: 15% !important;
        margin-left: 12em !important;
    }
}

.border-top-cust {
    border-top: 7px solid #fcba03;
    position: relative;
    top: 5px;
}

.border-top-cust {
    border-top: 7px solid #fcba03;
    position: relative;
    top: 5px;
}

.footer-bg {
    background-color: #0f294a;
    border-bottom: 1px solid #fcba03;
}

.footer-bg h4::after {
    content: "";
    display: block;
    width: 15%;
    height: 2px;
    margin: 10px 0;
    background: #fcba03;
}

.footer-list li {
    font-family: "poppins";
    font-size: 0.87rem;
    padding-bottom: 7px;
    position: relative;
    padding-left: 25px;
}

.footer-list li:before {
    content: "\f105";
    position: absolute;
    left: 0;
    top: 0;
    font-family: "FontAwesome";
    color: #fcba03;
    font-weight: 700;
}

.footer-list li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-list li a:hover {
    text-decoration: underline;
    color: #fcba03;
}

.bottom-footer {
    background-color: #0f294a;
    font-size: 0.8rem;
    font-weight: 300;
}

.bottom-footer a:hover {
    text-decoration: underline;
    color: #ffffff;
}

span.required {
    color: #c01e0f;
}

.modal-title {
    color: #0f294a;
    font-size: 1rem;
}

/* .web-footer h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.web-footer h3::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 5px auto;
    background: #fcba03;
}

.web-footer h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
} */

/* footer-end */