body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    overflow: scroll;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffffff;
    color: #164581;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
    margin-right: 20px;
}

.nav-links li {
    margin: 0 1em;
}

.nav-links a {
    color: #164581;
    text-decoration: none;
    font-size: 24px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    background: none;
    border: none;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #164581;
    border-radius: 2px;
}

.menu.active {
    display: block;
}

.slideshow.menu-open {
    margin-top: 150px;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0.5em 0;
    }

    .slideshow-container {
        height: 75vh;
        width: 100%;
    }
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 75%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.slides {
    display: none;
    width: 100%;

}

.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(240, 240, 242);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    padding: 10px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.card ul li {
    list-style: inside;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .slideshow-container {
        height: auto;
    }
}


.second-container {
    background-image: url(about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.second-container>* {
    color: #164581;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.second-container img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.footer {
    background-color: #007bff;
    color: rgb(250, 249, 249);
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer h3 {
    margin-top: 10px;
    margin-bottom: 5px;

}

.footer h6 {
    margin-top: 0;
    margin-bottom: 5px;
}