.mine-flex {
    display: flex;
}

.mine-text-center {
    text-align: center !important;
}

.mine-bc {
    color: #164581;
}

.mine-border {
    border: 2px solid red;
}

.mine-img-width {
    max-width: 100%;
    height: auto;
}

.mine-prev, .mine-next {
    border: 5px solid red;
}

 .mine-align-center {
    align-items: center;
    text-align: center;
 }

 .carousel-caption p::before{
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  margin: 15px auto;
  background: #fcba03;
}
 .carousel-caption p::after{
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  margin: 15px auto;
  background: #fcba03;
}