.mine-text-center {
    text-align: center !important;
}

.mine-border {
    border: 2px solid red;
}

.mine-img-width {
    max-width: 100%;
    height: auto;
}

 .mine-align-center {
    align-items: center;
    text-align: center;
 }
