.mine-flex {
    display: flex;
}

.mine-text-center {
    text-align: center !important;
}

.mine-bc {
    color: #164581;
}

.mine-border {
    border: 2px solid red;
}

.mine-img-width {
    max-width: 100%;
    height: auto;
}

.mine-prev, .mine-next {
    border: 5px solid red;
}

 .mine-align-center {
    align-items: center;
    text-align: center;
 }

 .carousel-caption p::before{
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  margin: 5px auto;
  background: #fcba03;
}
 .carousel-caption p::after{
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  margin: 5px auto;
  background: #fcba03;
}
.about-bg h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 5px auto;
    background: #fcba03;
  }
  .features-area h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 5px auto;
    background: #fcba03;
  }